@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');
@import "variables/variables";
@import "base/base";
@import "modules/modules";
@import "layouts/header";
@import "layouts/hero";
@import "layouts/services";
@import "layouts/test";
@import "layouts/kalite";
@import "layouts/trust";
@import "layouts/bize";
@import "layouts/footer";
