.hero {
  height: 500px;
  background-image: url("/images/hero-image-mobile.png");
  background-size: cover;
  position: relative;
  padding-top: 120px;


  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(118.67% 101.66% at 141.47% 78.12%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  }

  .hero-intro {
    text-align: center;
    position: relative;
    z-index: 1;

    .hero-title {
      margin-bottom: 20px;
      font-size: 28px;
    }

    .hero-description {
      font-size: 12px;
      margin-bottom: 35px;

      @media screen and (min-width: 540px) {
        font-size: 16px;
      }
    }

    .search-form {

      .entry {
        height: 45px;
        position: relative;

        input {
          width: 100%;
          height: 100%;
          padding: 0 20px;
          border-radius: 5px;

          &::placeholder {
            color: #00000066;
          }
        }

        .search-btn {
          position: absolute;
          top: 50%;
          right: 3px;
          transform: translateY(-50%);
        }
      }
    }
  }

  @media screen and (min-width: 375px) {
    height: 620px;
    padding-top: 145px;
    .hero-intro {
      .hero-title {
        font-size: 42px;
      }

      .search-form {
        .entry {
          height: 60px;

          .search-btn {
            height: 85%;
            padding: 16px 18px;
            right: 5px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url("/images/hero-image-tablet.jpg");
    height: 740px;
    padding-top: 160px;

    &:after {
      display: none;
    }
  }

  @media screen and (min-width: 820px) {

    .hero-intro {
      width: 620px;
      text-align: left;

      .hero-title {
        font-size: 54px;
      }

      .search-form {
        max-width: 420px;
      }
    }

  }
  @media screen and (min-width: 1240px) {
    background-image: url("/images/hero-image-desktop.jpg");
    height: 732px;
    padding-top: 200px;

  }
}